In [1]:
import pandas as pd

In [42]:
code_dict = {
    "Insulin Dose" : {
        "33": "Regular insulin dose",
        "34": "NPH insulin dose",
        "35": "UltraLente insulin dose"
    },
    "Blood Glucose Measurement": {
        "48": "Unspecified blood glucose measurement",
        "57": "Unspecified blood glucose measurement",
        "58": "Pre-breakfast blood glucose measurement",
        "59": "Post-breakfast blood glucose measurement",
        "60": "Pre-lunch blood glucose measurement",
        "61": "Post-lunch blood glucose measurement",
        "62": "Pre-supper blood glucose measurement",
        "63": "Post-supper blood glucose measurement",
        "64": "Pre-snack blood glucose measurement"
    },
    "65": "Hypoglycemic symptoms",
    "66": "Typical meal ingestion",
    "67": "More-than-usual meal ingestion",
    "68": "Less-than-usual meal ingestion",
    "69": "Typical exercise activity",
    "70": "More-than-usual exercise activity",
    "71": "Less-than-usual exercise activity",
    "72": "Unspecified special event"
}

code_dict["Insulin Dose"]

{'33': 'Regular insulin dose',
 '34': 'NPH insulin dose',
 '35': 'UltraLente insulin dose'}

In [41]:
column_names = ['Date', 'Time', 'Code', 'Value']
df = pd.read_csv(r"..\data\raw-data\Diabetes-Data\data-01",
                 sep="\t",
                 header=None,
                 names=column_names)
df[df['Date'] == '04-21-1991']

         Date   Time  Code  Value
0  04-21-1991   9:09    58    100
1  04-21-1991   9:09    33      9
2  04-21-1991   9:09    34     13
3  04-21-1991  17:08    62    119
4  04-21-1991  17:08    33      7
5  04-21-1991  22:51    48    123