# Variable & Data Types (1-10)

In [2]:
# 1. Write a program to assign and print different data types.

int_variable = 1
float_variable = 1.0
string_variable = "python"
bool_variable = True

print(f"Integer variable: {int_variable}")
print(f"Float variable: {float_variable}")
print(f"String variable: {string_variable}")
print(f"Boolean variable: {bool_variable}")

Integer variable: 1
Float variable: 1.0
String variable: python
Boolean variable: True

In [ ]:
# 2. Swap two variables without using a third variable.

a = 2
b = 3

print(f"Before swap: a = {a}, b = {b}")

a, b = b, a

print(f"After swap: a = {a}, b = {b}")

Before swap, a = 2, b = 3
After swap: a = 3, b = 2

In [6]:
# 3. Check the data type of a variable using type().

a = "hello"
type_var_a = type(a)

print(f"Data type of variable a using type() is: {type_var_a}")

Data type of variable a using type() is: <class 'str'>

In [7]:
# 4. Take input from the user and print it.

user_input = input("Input something: ")
print(user_input)

Hey

In [10]:
# 5. Convert string to int, float and back.
str_a = "2"
int_b = 2
float_c = 2.0

int_a = int(str_a)
float_a = float(str_a)
str_b = str(int_b)
str_c = str(float_c)

print(f"Convert string to int, {str_a}: {type(str_a)} -> {int_a}: {type(int_a)}")
print(f"Convert string to float, {str_a}: {type(str_a)} -> {float_a}: {type(float_a)}")
print(f"Convert int to string, {int_b}: {type(int_b)} -> {str_b}: {type(str_b)}")
print(f"Convert float to string, {float_c}: {type(float_c)} -> {str_c}: {type(str_c)}")

Convert string to int, 2: <class 'str'> -> 2: <class 'int'>
Convert string to float, 2: <class 'str'> -> 2.0: <class 'float'>
Convert int to string, 2: <class 'int'> -> 2: <class 'str'>
Convert float to string, 2.0: <class 'float'> -> 2.0: <class 'str'>

In [12]:
# 6. Concatenate two strings and print.
str1 = "Helo"
str2 = " World!"

concatenate_str = str1 + str2

print(f"Concatenated string: {concatenate_str}")

Concatenated string: Helo World!

In [14]:
# 7. Find the length of a string using len().
str_a = "Hello"
str_a_len = len(str_a)

print(f"Length of string '{str_a}' is {str_a_len}")

Length of string 'Hello' is 5

In [15]:
# 8. Use input() to read name, age, and print a message.
name = input("Input name: ")
age = input("Input age: ")

print(f"Your name is {name}, your age is {age}")

Your name is Nam, your age is 18

In [16]:
# 9. Round a float to 2 decimal places.
float_a = 2.9944

print(f"Round float {float_a} to 2 decimal places is: {float_a:.2f}")

Round float 2.9944 to 2 decimal places is: 2.99

In [20]:
# 10. Write a program that calculates the area of a rectangle.
def calculate_rectangle_area(width: float, length: float) -> float:
    """This program calculate area of a rectangle

    Args:
        width (float): width of rectangle
        height (float): height of rectangle
    
    Return:
        area (float)
    """
    return width*length

calculate_rectangle_area(5.6, 6.8)

38.08

# Conditionals & Loops (11–20)

In [ ]:
# 11. Write a program to check if a number is even or odd.
"""
Intuitive thoughs:

If a number is even it should divisible by 2 (% 2 == 0),
and if it is odd it shouldn't divisible by 2 (%2 != 0)
"""

def check_number(number: int) -> str:
    """Check the number even or odd

    Args:
        number (int): number needed to check
    
    Returns:
        str: "Even number" if the number is even, otherwise "Odd number".
    """

    if number % 2 == 0:
        return "Even number"
    return "Odd number"

print(check_number(5))
print(check_number(2))

Odd number
Even number

In [ ]:
# 12. Check if a number is positive, negative or zero.
"""
Intuitive thoughs:

If a number is positive, it should bigger than 0,
if it is negative it smaller than 0
"""

def check_number2(number: float) -> str:
    """Check whether the number is positive, negative or zero

    Args:
        number (float): number needed to check

    Returns:
        str: "Positive" if the number is bigger than 0, 
        "Negative" if the number is smaller than 0,
        otherwise "Zero"    
    """

    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    return "Zero"

print(check_number2(2))
print(check_number2(-2))
print(check_number2(0))

Positive
Negative
Zero

In [ ]:
# 13. Find the largest of three numbers.
"""
Intuitive thoughs:

We will using max() built-in function to check the largest number in a list
"""

def find_largest_number(nums: list) -> float:
    """Finding the largest number in a list

    Args:
        nums (list): list of number
    
    Returns:
        float: The largest number
    """
    largest_num = max(nums)
    return largest_num

num_lst = [1, 2, 3, 99]
find_largest_number(num_lst)

99

In [ ]:
# 14. Write a simple calculator using if-else.
"""
Intuitive thoughs:

We will using if, else to check the operator then calculate based on that
"""

def simple_calculator(operator: str, num1: float, num2: float) -> float:
    """Calculate based on operator

    Args:
        operator (str): operator used for compute (+, -, *, /)
        num1 (float): number 1
        num2 (float): number 2
    
    Returns:
        float: result based on operator
    """

    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    return num1 / num2

num1 = 2
num2 = 3

print(simple_calculator("+", num1, num2))
print(simple_calculator("-", num1, num2))
print(simple_calculator("*", num1, num2))
print(simple_calculator("/", num1, num2))

5
-1
6
0.6666666666666666

In [30]:
# 15. Print all numbers from 1 to 100 using a loop.
"""
Intuitive thoughs:

We will using for loop to print out numbers because we know the range
"""

for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [31]:
# 16. Print even numbers between 1 to 50.
"""
Intuitive thoughs:

- We will using for loop to print out numbers because we know the range
- We will check the number is even by check whether it divisible by 2
"""
for number in range(1, 51):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [40]:
# 17. Print the multiplication table of a number.
"""
Intuitive thoughs:

- We will using for loop to print out numbers because we know the range
because multiplication table will between 1 to 10
"""
def multiplication_table(number: int) -> None:
    """Print multiplication table of a number

    Args:
        number (int): number needed to print the table of
    
    Returns:
        None
    """
    for i in range(1, 11):
        print(f"{number} * {i} = {number*i}")
    return None

multiplication_table(8)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [41]:
# 18. Sum of all numbers from 1 to n using loop.
"""
Intuitive thoughs:

- We will using for loop to print out numbers because we know the range
- We need a sum variable to add cumulative value from 1 to n
"""

def sum_numbers(number: int) -> int:
    """Calculate cumulative sum of all number from 1 to number

    Args:
        number (int): number we need to calculate to
    
    Returns:
        total_value (int): total value from 1 to number
    """

    total_value = 0
    
    for i in range(number+1):
        total_value += i

    return total_value

sum_numbers(5)

15

In [ ]:
# 19. Count the number of digits in a number.
"""
Intuitive thoughs:

- We will using for loop to count the digits because we know the range
will be the length of number needed to count
"""

def count_digits(number: int) -> int:
    """Count digits of a number

    Args:
        number (int): number need to count the digits for
    
    Returns:
        int: digits counted number
    """

    digit_count = 0
    str_number = str(number)
    for _ in str_number:
        digit_count += 1

    return digit_count

count_digits(99999)

5

In [ ]:
# 20. Find the factorial of a number using a loop.
"""
Intuitive thoughs:

- We will using for loop to calculate factorial result because we know the range
will be from 1 to number itself
"""

def calculate_factorial(number: int) -> int:
    """Calculate factorial of a number

    Args:
        number (int): number needed to calculate factorial

    Returns:
        int: factorial result
    """
    
    total_result = 1
    
    for num in range(1, number+1):
        total_result *= num
    
    return total_result

calculate_factorial(5)

120

# Functions & Scope (21–30)

In [58]:
# 21. Write a function to check if a number is prime
"""
- Prime number is number that divisible by 1 and itself
(and it must bigger than 1)
- We need to using for loop to check in range 1 to number itself
to check for all the number between whether it divisible or not
if it is -> not prime
"""

def check_prime(number: int) -> str:
    """Check the number is prime or not

    Args:
        number (int): number needed to check

    Return:
       str: "Prime" if number is prime number,
       otherwise "Not Prime" 
    """

    if number <= 1:
        return "Not Prime"
    
    for num in range(2, number):
        if number % num == 0:
            return "Not Prime"
    return "Prime"

check_prime(17)

'Prime'

In [61]:
# 22. Function to return the square of a number.
"""
- We just need to write a function that input a number and return
square of it using '**'
"""

def square_number(number: int) -> int:
    """Square a number
    
    Args:
        number (int): number needed to square
    
    Returns:
        int: squared number
    """

    return number**2

square_number(5)

25

In [65]:
# 23. Write a function to check if a string is a palindrome.
"""
- Palindrome string is a string if reversed itself it will be the same
as the original one
- We need to reversed it using slicing and then check whether
the reversed one equal the original one
"""

def check_palindrome(word: str) -> bool:
    """Check whether the string is palindrome or not
    
    Args:
        word (str): word needed to check
    
    Return:
        bool: True if it is palindrome, otherwise False
    """
    
    reversed_word = word[::-1]

    if reversed_word == word:
        return True
    return False

check_palindrome("nan")

True

In [ ]:
# 24. Define a function with default arguments.
"""
- We just need to define default arguments in the function itself
"""
def my_function(name="Nam"):
    return f"Hello, {name}"

my_function()

'Hello, Nam'

In [72]:
# 25. Write a recursive function to compute factorial.
"""
- recursive funtion need a base condition so that 
it will not be infinitive loop
- we need to define base condition that the number must > 0
"""

def recursive_factorial(number: int) -> int:
    """Calculate factorial of number using recursion

    Args:
        number (int): number needed to calculate factorial
    
    Return:
        int: factorial result
    """
    if number > 0:
        result = number * recursive_factorial(number-1)
    else:
        result = 1
    return result

recursive_factorial(6)

720

In [74]:
# 26. Create a function to calculate the sum of a list.
"""
- We need to use for loop because we know the range will be
length of the list
- we need to define a total value which will hold the cumulative 
valur of the number in the list
"""
def calculate_sum(number: list) -> int:
    """Calculate the sum of the list

    Args:
        number (list): list of number needed to calculate sum
    
    Returns:
        int: sum of the list
    """

    total_value = 0
    
    for num in number:
        total_value += num
    return total_value

num_lst = [1, 2, 3, 4, 5]
calculate_sum(num_lst)

15

In [75]:
# 27. Write a function to reverse a string.
"""
- We will use slicing to reverse a string
"""

def reverse_string(word: str) -> str:
    """Reverse a string
    
    Args:
        word (str): word needed to reversed
    
    Return:
        str: string after reverse
    """
    return word[::-1]

reverse_string("Nam")

'maN'

In [ ]:
# 28. Create a function to count vowels in a string.
"""
- Vowels is u, e, o, a, i
- So we just need to define a count variable which will add 1 
every time it is vowels (check using if)
"""
def count_vowels(word: str) -> int:
    """Count vowels in a string

    Args:
        word (str): word needed to count vowels
    
    Return:
        int: number of vowels
    """

    vowels_lst = ['u', 'e', 'o', 'a', 'i']
    vowel_count = 0

    for w in word:
        if w in vowels_lst:
            vowel_count += 1
    return vowel_count

count_vowels("namdeptrai")

4

In [79]:
# 29. Demonstrate the use of global and local variables.
"""
- Global variable: define outside the function and can 
access anywhere in the code
- Local variable: define inside the function and can
acceess only inside the function itself
"""

message = "Hello from the outside"

def my_function():
    message = "Hello from the inside"
    print("Inside function:", message)
    return None

my_function()
print("Outside function:", message)

Inside function: Hello from the inside
Outside function: Hello from the outside

In [80]:
# 30. Define a function that accepts multiple arguments using *args.
"""
- *args means the function will accept arbitrary number of argument,
which means we don't know how many arguments we need to use, so we
use *args
"""

def args_func(*args):
    return sum(args)

args_func(1, 2, 3, 4)

10

# Lists, Tuples & Sets (31–40)

In [87]:
# 31. Create a list and append, insert, delete elements.
"""
"""
num_list = [1, 2, 3, 4, 5]
print(num_list)

num_list.append(5)
print(f"List after append '5': {num_list}")

num_list.insert(1, 3)
print(f"List after insert '3' in index 1: {num_list}")

del num_list[0]
print(f"List after delete element in index 0: {num_list}")

[1, 2, 3, 4, 5]
List after append '5': [1, 2, 3, 4, 5, 5]
List after insert '3' in index 1: [1, 3, 2, 3, 4, 5, 5]
List after delete element in index 0: [3, 2, 3, 4, 5, 5]

In [88]:
# 32. Sort a list in ascending and descending order.
"""
- We will using sorted buil-in function to sort the list
to avoid it sort in-place
"""
lst_num = [3, 22, 4, -3, 99]

asc_sort_lst = sorted(lst_num)
print(f"Sort list in ascending order: {asc_sort_lst}")

des_sort_lst = sorted(lst_num, reverse=True)
print(f"Sort list in desceding order: {des_sort_lst}")

Sort list in ascending order: [-3, 3, 4, 22, 99]
Sort list in desceding order: [99, 22, 4, 3, -3]

In [89]:
# 33. Find the max and min of a list.
"""
- We will using max(), min() buil-in function to find max and min
in a list
"""
num_lst = [1, 2, 3, 4, 5]

print(f"Max of above list is: {max(num_lst)}")
print(f"Min of above list is: {min(num_lst)}")

Max of above list is: 5
Min of above list is: 1

In [92]:
# 34. Count occurrences of an item in a list.
"""
- We will define a count variable that adding 1 everytime this 
item appear in a list
"""
item_lst = [1, 'a', 3, 'b', 3, 4, 3]

count_variable = 0

item_check = 3

for item in item_lst:
    if item_check == item:
        count_variable += 1

count_variable

3

In [93]:
# 35. Convert a tuple to list and vice versa
"""
- We just need to built-in function tuple() and list() to convert
"""
number_lst = [1, 2, 3, 4, 5]
tuple_lst = (3, 4, 5, 6)

print(f"List to tuple: {number_lst}: {type(number_lst)} -> {tuple(number_lst)}: {type(tuple(number_lst))}")
print(f"Tuple to list: {tuple_lst}: {type(tuple_lst)} -> {list(tuple_lst)}: {type(list(tuple_lst))}")

List to tuple: [1, 2, 3, 4, 5]: <class 'list'> -> (1, 2, 3, 4, 5): <class 'tuple'>
Tuple to list: (3, 4, 5, 6): <class 'tuple'> -> [3, 4, 5, 6]: <class 'list'>

In [ ]:
# 36. Check if an element exists in a list
"""
- We will check using 'in', if it in a list the we will print out True,
otherwise False
"""
num_lst = [3, 4, 5, 6, 99]

num_check = 99

True if num_check in num_lst else False

True

In [96]:
# 37. Remove duplicates from a list using set.
"""
- Set just contain unique number and its order is random, 
so we can remove duplicates of a list by turn that list into
a set using set() built-in function
"""
num_lst = [1, 2, 2, 2, 3, 4]

print(f"List after remove using set(): {num_lst}, list before remove: {set(num_lst)}")

List after remove using set(): [1, 2, 2, 2, 3, 4], list before remove: {1, 2, 3, 4}

In [107]:
# 38. Merge two lists into one.
"""
- we can merge two lists into one using '+' operators,
or we can merge it using extend
"""
lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

print(f"List after merged using '+' operator: {lst1 + lst2}")

lst1.extend(lst2)
print(f"List after merged using extend(): {lst1}")

List after merged using '+' operator: [1, 2, 3, 4, 5, 6, 7, 8]
List after merged using extend(): [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 39. Slice a list (first 3, last 2 elements).
"""
- we can slice the last element using negative index incase we don't know 
the length of a list
"""
lst_num = [1, 2, 3, 4, 5, 6]

print(f"First 3 elements: {lst_num[:3]}")
print(f"Last 2 elements: {lst_num[-2:]}")

First 3 elements: [1, 2, 3]
Last 2 elements: [5, 6]

In [112]:
# 40. Write a program to sum all elements in a list.
"""
- we will use sum() built-in function to calculate
sum of all elements in a list
"""
num_lst = [1, 2, 3, 4, 5]
print(f"Sum of all the element of this list {num_lst} is: {sum(num_lst)}")

Sum of all the element of this list [1, 2, 3, 4, 5] is: 15

# Dictionaries & File Handling (41–50)

In [119]:
# 41. Create a dictionary with student names and marks.
"""
"""

students_dict = {
    "student_name": "nam",
    "marks": 7
}

students_dict

{'student_name': 'nam', 'marks': 7}

In [120]:
# 42. Add, delete, and update dictionary items.
"""
"""
students_dict["gpa"] = 3.8
print(f"Students dictionary after adding another key, value: {students_dict}")

del students_dict["gpa"]
print(f"Students dictionary after delete 'gpa' key: {students_dict}")

students_dict["student_name"] = "John"
print(f"Students dictionary after update name: {students_dict}")

Students dictionary after adding another key, value: {'student_name': 'nam', 'marks': 7, 'gpa': 3.8}
Students dictionary after delete 'gpa' key: {'student_name': 'nam', 'marks': 7}
Students dictionary after update name: {'student_name': 'John', 'marks': 7}

In [123]:
# 43. Write a program to find the key of the highest value in a dict.
"""
- We will using .items() to iterate through key, value pairs in 
a dictionary
- We will define a variable to mark a highest value, this value
should be the smallest one so that when we loop through the value in 
a dictionary it whether a value is bigger it will be assigned to that
value
"""
sample_dict = {
    "val1": 1,
    "val2": 22,
    "val3": 3
}

highest_value = -99
highest_value_key = ""

for k, v in sample_dict.items():
    if highest_value < v:
        highest_value = v
        highest_value_key = k

print(f"Highest value is {highest_value} with its key is '{highest_value_key}'")

Highest value is 22 with its key is 'val2'

In [124]:
# 44. Iterate over keys and values of a dictionary.
"""
- We will using .items() to iterate through key, value pairs in 
a dictionary
"""

for k, v in sample_dict.items():
    print(f"Key: {k} - Value: {v}")

Key: val1 - Value: 1
Key: val2 - Value: 22
Key: val3 - Value: 3

In [ ]:
# 45. Count word frequency in a string using a dictionary.
"""
- We will using dictionary comprehensive to count the word in a string
- we will split the string first to extract all the word in a list using .split()
"""

word = "nam is the one that will be in this program in in is is one one"

word_lst = word.split()

count_dict = {w:word_lst.count(w) for w in word_lst}
count_dict

{'nam': 1,
 'is': 3,
 'the': 1,
 'one': 3,
 'that': 1,
 'will': 1,
 'be': 1,
 'in': 3,
 'this': 1,
 'program': 1}

In [ ]:
# 46. Write to a file using open() and write().
"""
- We will open a file in write mode using open()
- We will use the write() function to add content to the file
- Close the file after writing to save changes
"""

file = open("sample_write.txt", "w")
file.write("This is a sample text written to the file.\nWe are learning Python!")
file.close()

In [128]:
# 47. Read a file and print its contents.
"""
- We will open the file in read mode using open()
- Then use read() method to get all the contents as a string
- Finally, we print out the content
"""

file = open("sample_write.txt", "r")
content = file.read()
print(content)
file.close()

This is a sample text written to the file.
We are learning Python!

In [129]:
# 48. Count the number of lines in a file.
"""
- Open the file in read mode
- Use readlines() to get all lines as a list
- Count the number of elements in the list to get total lines
"""

file = open("sample_write.txt", "r")
lines = file.readlines()
line_count = len(lines)
print("Total lines:", line_count)
file.close()

Total lines: 2

In [130]:
# 49. Write a list of strings to a file, one per line.
"""
- We will define a list of strings
- Open a file in write mode
- Loop through the list and write each string followed by newline
"""

lines_to_write = ["Line 1", "Line 2", "Line 3", "Final Line"]
file = open("lines.txt", "w")
for line in lines_to_write:
    file.write(line + "\n")
file.close()

In [131]:
# 50. Create a program to read student names and grades froma file anddisplaythem.
"""
- Assume the file has each student name and grade separated by a comma (e.g., Alice,90)
- Open the file and read line by line
- Split each line by comma and display name and grade
"""

file = open("students.txt", "r")
for line in file:
    name, grade = line.strip().split(",")
    print(f"Student: {name}, Grade: {grade}")
file.close()

Student: Alice, Grade: 30
Student: Nam, Grade: 40
Student: John, Grade:  2